## Author
Unai Garrido Ram√≠rez

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popuelar languages that Data Scientist use are
1. Python
2. R
3. SQL

**Objectives:**
* Popular languages for Data Scientist
* Common Libraries used
* Some open source Tools and Evironments

# Some of the commonly libraries used by data scientist include:
- Pandas
- Numpy
- Matplotlib


| Data Science Tools |
| --- |
JupyterLabd
|Rstudio|
|GoogleCollab| |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to multiply then adding integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335